/*--------------------------
  CheckBox
 --------------------------*/
.sc-CheckBox {
    position: relative;
    padding: 2px;
}

 .sc-CheckBox-input {
    opacity: 0;
    margin-right: 0.6em;
    position: relative;
    z-index: 15000;
}

.sc-CheckBox-label {
    position: relative;
    margin-left: 0;
}

.sc-CheckBox-label:before {
    font-weight: normal;
    content: "\f096";
    xxxcontent: "\f0c8";

    xxxcolor: #ddd;

    font-family: FontAwesome;
    font-size: 18px;
    opacity: 0.7;
    position: absolute;
    top: 3px;
    left: -1.2em;
}

.sc-CheckBox-input:checked + .sc-CheckBox-label:before {
    content: "\f046";

    xxxcolor: rgb(94, 155, 210);

    xxxcontent: "\f14a";
}

.sc-CheckBox-input:focus + .sc-CheckBox-label:before {
    font-weight: bold;
}

/*--------------------------
  Button
 --------------------------*/

.sc-Button--flat:not(:hover), 
.sc-Button--flat:disabled {
    background: none !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none !important;
}

.sc-Button--link:not(:hover) {
    background: none !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none !important;
}

.sc-Button--link:not(.basic):hover {
    background: none !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none !important;
}

.sc-Button--link:not(:disabled):hover a {
    text-decoration: underline;
}

/*--------------------------
  Paginator 
 --------------------------*/
.sc-Paginator {
    display: table;
}

.sc-Paginator .sc-Paginator-row {
    display: table-row;
}

.sc-Paginator .sc-Paginator-cell {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.sc-Paginator button:not(.k-state-selected):not(:hover):not(:focus) {
    border-color: transparent;
    background-color: transparent;
}

.sc-Paginator-pageButton--selected {
    cursor: default;
}

.sc-Paginator-previousPageButton {
    margin-right: 0.4em;
}

.sc-Paginator-nextPageButton {
    margin-left: 0.4em;
}

.sc-Paginator-pageTextField {
    padding: 0 0.8em;
}

.sc-Paginator-pageTextField > .sc-TextField-input {
    width: 5em;
}

/*--------------------------
  PageSizeSelector 
 --------------------------*/
.sc-PageSizeSelector {
    display: inline-table;
}

.sc-PageSizeSelector-row {
    display: table-row;
}

.sc-PageSizeSelector-cell {
    display: table-cell;
    vertical-align: middle;
}

.sc-PageSizeSelector .k-dropdown {
    width: 80px !important;
}

.sc-PageSizeSelector label {
    margin-right: 1em;
}

.sc-PageSizeSelector .sc-SelectBox {
    display: inline-block;
}

/*--------------------------
  DataTable 
 --------------------------*/

.sc-DataTable {
    position: relative;
}

.sc-DataTable-scrollpane {
    overflow: auto;
    height: 100%;
    width: 100%;
    border-width: 0;
    position: absolute;
    box-sizing: border-box;
}

.x > .sc-VerticalLayout-cell {
    border: 0 solid #d9d9d9;
    border-width: 0 1px 0 1px;
}

.y > .sc-VerticalLayout-cell {
    border: 0 solid #d9d9d9;
    border-width: 0 1px 1px 1px;
}

.sc-DataTable-headerTable {
    overflow-x: hidden;
}

.sc-DataTable-table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    border: 0 solid #d9d9d9;
    xxxborder-width: 1px 1px 0 1px;
}

.sc-DataTable-table > thead  > tr > th {
    background-color: #f5f5f5;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #d9d9d9;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-DataTable-table > thead > tr > th:first-child {
    border-left-width: 0;
}

.sc-DataTable-table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

.sc-DataTable-bodyTable > thead {
    xxxxvisibility: hidden;
}

.sc-DataTable-bodyTable > tbody > tr > td {
    padding: 5px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e2e2e2;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.sc-DataTable-bodyTable > tbody > tr > td:first-child {
    border-width: 0 0 1px 0;
}

.sc-DataTable-bodyTable > tbody > tr:last-child > td {
    border-bottom-width: 0;
}

.sc-DataTable-bodyRow--alt {
    background-color: #fafafa;
}

.sc-DataTable-bodyRow--selected {
    background-color: rgb(255, 239, 187);
}

.sc-DataTable-bodyRow--expanded > td {
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}

.sc-DataTable-bodyRow--expansion > td {
    border-left-width: 0 !important;
}

.sc-DataTable-extraColumn {
    background-color: #fafafa;
}

.sc-DataTable-sortableColumnHeader {
    cursor: pointer;
}

.sc-DataTable-sortingIcon {
    padding-left: 1em;
}

.sc-DataTable-sortingIcon.fa-sort-asc {
    position: relative;
    top: 0.3em;
}

.sc-DataTable-sortingIcon.fa-sort-desc {
    position: relative;
    top: -0.15em;
}

.sc-DataTable-sortingIcon.fa-sort {
    opacity: 0.25;
}

.sc-DataTable-cell {
    position: relative;
}

.sc-DataTable-cell--centerAligned {
    text-align: center;
}

.sc-DataTable-rowSelector {
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    margin: 0;
    font-size: 16px;
    width: 18px;
    max-width: 18px;
    min-width: 18px;
    overflow: hidden;
    opacity: 0.6;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    box-sizing: border-box;
}

.sc-DataTable-rowSelector:focus {
    opacity: 0.9;
}

.sc-DataTable-rowExpander {
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    margin: 0;
    font-size: 16px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    opacity: 0.6;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}

.sc-DataTable-rowExpander:focus {
    opacity: 0.9;
}


/*--------------------------
  DataNavigator 
 --------------------------*/

.sc-DataNavigator {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.sc-DataNavigator-toolbar {
    padding: 0 0 0 0;
    margin-bottom: 1em;
    background: none;
    margin-bottom: 0px;
    position: relative;
    top: 0;
    left: 0;
}
.sc-DataNavigator-dataTable .sc-DataTable-header {
    border-top: 1px solid #888;
}

.sc-DataNavigator-toolbar .sc-Menu {
    display: inline-block;
}

.sc-DataNavigator-toolbar .sc-Menu > ul > li > .k-link {
    padding: 6px 10px;
    margin: 0 !important;
}

.sc-DataNavigator-toolbar .sc-Menu {
    margin-bottom: 3px;
}

.sc-DataNavigator-toolbar .sc-Menu > ul > li,
.sc-DataNavigator-toolbar .sc-Menu > ul {
    xxxborder-color: transparent !important;
    background: none !important;
    font-size: 98%;
}

.sc-DataNavigator .sc-FilterBox {
    width: auto !important;
    xxxdisplay: none;
    xxxborder: 1px solid #d9d9d9    !important;
    xxxborder-width: 1px 0 0 0 !important;
    border-radius: 3px 3px 0 0;
    xxxbackground-color: #fafafa;
    margin: 0px;
    margin-top: 5px;
}

.sc-DataNavigator .sc-FilterBox label {
    font-size: 90%;
}

.sc-DataNavigator-actions {
    display: inline-block;
    position: relative;
}


.sc-DataNavigator-headline {
    font-size: 140%;
    font-weight: normal;
    display: inline-block;
    margin: 0 1em 0 0.5em;
    vertical-align: top;
}

.sc-DataNavigator-footer {
    display: table;
    border-collapse: collapse;
    text-align: right;
    background-color: #f5f5f5;
}

.sc-DataNavigator-footer-inner {
    display: table-row;
    width: 100%;
    padding: 0.1em;
    padding-right: 0.8em;
}

.sc-DataNavigator-footer-inner > * {
    display: table-cell;
    vertical-align: middle;
    padding: 3px 10px;
    border: 0 solid #dbdbdb;
    border-width: 0px 1px 1px 1px;
    border-top-color: #ddd;
}

.sc-DataNavigator-footer-inner > *:first-child {
    padding: 3px 2px;
}

.sc-DataNavigator-footer .sc-Paginator {
}

.sc-DataNavigator-footer .sc-PageSizeSelector {
}

.sc-DataNavigator-footer .sc-PaginationInfo {
    width: 100%;
}

.sc-DataNavigator-lockPane {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 32000;
}

.sc-DataNavigator-loadingBox {
    position: absolute;
    top: 1em;
    text-align: center;
    z-index: 320001;
    width: 100%;
}

.sc-DataNavigator-loadingBox-inner {
    display: block;
    width: 14em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 2em;
    xbackground-color: rgba(80, 80, 80, 0.6); 
    background-color: rgba(30, 52, 70, 0.7);
    color: #fafafa;
    border-radius: 8px;
    font-size: 90%;
}

.sc-DataNavigator-loadingBox-content {
    display: table-row;
}

.sc-DataNavigator-loadingBox-leftArea {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-right: 2em; 
}

.sc-DataNavigator-loadingBox-rightArea {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.sc-DataNavigator-loadingBox-icon {
    font-size: 3em;
}

.sc-DataNavigator-loadingBox-text {
    display: block;
}

.sc-DataNavigator-loadingBox-cancel {
    display: block;
    font-size: 90%;
    padding: 1px 8px;
    margin-top: 1em;
}



/*
.sc-DataNavigator-header {
    margin: 0 0 6px 0 !important;
}

.sc-DataNavigator-header * {
    font-size: 12px;
    white-space: nowrap !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.sc-DataNavigator table th {
    padding: 3px !important;
}

.sc-DataNavigator table tr {
    font-size: 13px !important;
}

.sc-DataNavigator .segment {
    margin: 3px 0 0 0;
    padding: 1px 10px 1px 2px;
}

.sc-DataNavigator .segment :not(i) {
    font-size: 12px !important;
}

.sc-DataNavigator .segment input[type=text] {
    padding: 3px !important;
}
*/

/*--------------------------
  HorizontalLayout 
 --------------------------*/
.sc-HorizontalLayout {
    display: table;
    position: relative;
}

.sc-HorizontalLayout-row {
    display: table-row;
}

.sc-HorizontalLayout-cell {
    display: table-cell;
    position: relative;
}

/*--------------------------
  VerticalLayout 
 --------------------------*/

 .sc-VerticalLayout {
    display: table;
    position: relative;
}

.sc-VerticalLayout-row {
    display: table-row;
}

.sc-VerticalLayout-cell {
    display: table-cell;
    position: relative;
}

/*--------------------------
  FilterBox 
 --------------------------*/

.sc-FilterBox {
    margin: 0.8em 1em;
}

.sc-FilterBox .sc-HorizontalLayout-cell {
    padding: 10px;
}