html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

body {
    font-family: Arial;
    padding: 0px;
    margin: 0;
    font-family: 'Open Sans',Helvetica,Arial;
    font-size: 11pt;
    color: #444;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
}

#main-content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    box-sizing: border-box;
}


.app-Toolbar {
    color: white;
    background-color: rgb(90, 164, 214);
    padding: 0.4em 0.8em;
    font-size: 150%;
}

.app-Toolbar-brand {
    padding: 0 0.5em;
}

.app-Toolbar-slogan {
    font-size: 75%;
    font-style: italic;
    padding-top: 0.2em;
    margin-left: 1em;
}

.app-Sidebar {
    color: #666;
    background-color: rgb(243, 243, 243);
    padding: 0.5em 0em;
    height: 100%;
}

.app-Sidebar ul {
    margin: 0.5em;
    padding-left: 0.4em;
    list-style-type: none;
}

.app-Sidebar ul li {
    margin: 1em 0.4em;
    white-space: nowrap;
}

.app-Sidebar label {
    margin-left: 0.75em;
}

.app-Sidebar-menu {
    border: 0px solid #d9d9d9;
    xborder-bottom-width: 1px;
    position: relative;
    padding-bottom: 0.1em;
}

.app-Sidebar-menu:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, #dedede 5%, #d9d9d9 50%, #dedede 95%);
}

.app-Sidebar-menu:before {
    content: "\f107";
    font-family: 'FontAwesome'
}

.app-Sidebar-item {
}

.app-inset {
    border: 0.5em solid transparent;
    border-top-width: 1.5em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}